<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>BlablaRun</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="semantic/dist/semantic.min.js"></script>


</head>

<body>

    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="index.html" class="header item">
                <img src="assets/images/logo.png" alt="" class="logo">BlablaRun
            </a>
            <a href="event-detail.html" class="active item">Events</a>
            <a href="event-list.html" class="active item">Trails</a>
            <a href="person-detailed.html" class="item">My Profile</a>
            <div class="right item">
                <a class="ui inverted button">Log in</a>
                <a class="ui inverted button">Sign up</a>
            </div>
        </div>
    </div>

    <div class="ui main container stackable grid">
        <div class="ten wide column" id="event-list-segments">
            <div class="ui segments">
                <div class="ui segment">
                    <div class="ui grid">
                        <div class="two wide column">
                            <img src="assets/images/thomas.png" alt="" class="ui tiny avatar image">
                        </div>
                        <div class="ten wide column">
                            <a class="ui large header">Run Event 1</a>
                            <div class="meta">
                                <span>Hosted by
                                    <a>Thomas</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <span>
                        <i class="clock icon"></i>Today, 1:00 PM&nbsp;&nbsp;|
                        <i class="marker icon"></i>Vinohardy</span>
                </div>
                <div class="ui secondary segment">
                    <div class="ui horizontal list">
                        <a href="person-detailed.html" class="item">
                            <img src="" alt="" class="ui mini avatar image">
                        </a>
                        <a href="person-detailed.html" class="item">
                            <img src="" alt="" class="ui mini avatar image">
                        </a>
                        <a href="person-detailed.html" class="item">
                            <img src="" alt="" class="ui mini avatar image">
                        </a>
                        <a href="person-detailed.html" class="item">
                            <img src="" alt="" class="ui mini avatar image">
                        </a>
                        <a href="person-detailed.html" class="item">
                            <img src="" alt="" class="ui mini avatar image">
                        </a>
                    </div>
                </div>
                <div class="ui clearing segment">
                    <span>Join me for a run. </span>
                    <a href="event-detail.html" class="ui right floated teal button">Display</a>
                </div>
            </div>

            <div class="ui segments">
                <div class="ui segment">
                    <div class="ui grid">
                        <div class="two wide column">
                            <img src="assets/images/michael.png" alt="" class="ui tiny avatar image">
                        </div>
                        <div class="ten wide column">
                            <a class="ui large header">Run Event 2</a>
                            <div class="meta">
                                <span>Hosted by
                                    <a>Michael</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <span>
                        <i class="clock icon"></i>Wednesday, 2:00 PM&nbsp;&nbsp;|
                        <i class="marker icon"></i>Prague Castle</span>
                </div>
                <div class="ui secondary segment">
                    <div class="ui horizontal list">
                        <a href="person-detailed.html" class="item">
                            <img src="" alt="" class="ui mini avatar image">
                        </a>
                        <a href="person-detailed.html" class="item">
                            <img src="" alt="" class="ui mini avatar image">
                        </a>
                        <a href="pperson-detailed.html" class="item">
                            <img src="" alt="" class="ui mini avatar image">
                        </a>
                        <a href="person-detailed.html" class="item">
                            <img src="" alt="" class="ui mini avatar image">
                        </a>
                        <a href="person-detailed.html" class="item">
                            <img src="" alt="" class="ui mini avatar image">
                        </a>
                    </div>
                </div>
                <div class="ui clearing segment">
                    <span>Join me for a run around Prague </span>
                    <a href="event-detail.html" class="ui right floated teal button">Display</a>
                </div>
            </div>

            <div class="ui segments">
                <div class="ui segment">
                    <div class="ui grid">
                        <div class="two wide column">
                            <img src="assets/images/edwin.png" alt="" class="ui tiny avatar image">
                        </div>
                        <div class="ten wide column">
                            <a class="ui large header">Run Event 3</a>
                            <div class="meta">
                                <span>Hosted by
                                    <a>Edwin</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <span>
                        <i class="clock icon"></i>Friday, 3:00 PM&nbsp;&nbsp;|
                        <i class="marker icon"></i>Museum parc</span>
                </div>
                <div class="ui secondary segment">
                    <div class="ui horizontal list">
                        <a href="person-detailed.html" class="item">
                            <img src="" alt="" class="ui mini avatar image">
                        </a>
                        <a href="person-detailed.html" class="item">
                            <img src="" alt="" class="ui mini avatar image">
                        </a>
                        <a href="pperson-detailed.html" class="item">
                            <img src="" alt="" class="ui mini avatar image">
                        </a>
                        <a href="person-detailed.html" class="item">
                            <img src="" alt="" class="ui mini avatar image">
                        </a>
                        <a href="person-detailed.html" class="item">
                            <img src="" alt="" class="ui mini avatar image">
                        </a>
                    </div>
                </div>
                <div class="ui clearing segment">
                    <span>Join me for a run </span>
                    <a href="event-detail.html" class="ui right floated teal button">Display</a>
                </div>
            </div>


        </div>

        <!-- recent activity details -->

        <div class="six wide column">
            <div class="ui sticky">
                <div class="row">
                    <div class="ui top attached header">
                        Recent activity
                    </div>
                    <div class="ui attached segment">

                        <div class="ui feed">
                            <div class="event">
                                <div class="label">
                                    <img src="">
                                </div>
                                <div class="content">
                                    <div class="summary">
                                        New Event!
                                        <a href="person-detailed.html">Thomas Chappel</a> is hosting
                                        <a href="event-detail.html">Run event 1</a>
                                        <div class="date">
                                            1 days ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="event">
                                <div class="label">
                                    <img src="">
                                </div>
                                <div class="content">
                                    <div class="summary">
                                        New Event!
                                        <a href="person-detailed.html">Michael Enakele</a> is hosting
                                        <a href="event-detail.html">Run event 2</a>
                                        <div class="date">
                                            2 days ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="event">
                                <div class="label">
                                    <img src="">
                                </div>
                                <div class="content">
                                    <div class="summary">
                                        New Event!
                                        <a href="person-detailed.html">Edwin Ishimwe</a> is hosting
                                        <a href="event-detail.html">Run event 3</a>
                                        <div class="date">
                                            3 days ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="event">
                                <div class="label">
                                    <img src="">
                                </div>
                                <div class="content">
                                    <div class="summary">
                                        New Event!
                                        <a href="person-detailed.html">Miki </a> is hosting
                                        <a href="event-detail.html">Run event 4</a>
                                        <div class="date">
                                            4 days ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="event">
                                <div class="label">
                                    <img src="">
                                </div>
                                <div class="content">
                                    <div class="summary">
                                        New Event!
                                        <a href="person-detailed.html">Jackson </a> is hosting
                                        <a href="event-detail.html">Run event 5</a>
                                        <div class="date">
                                            5 days ago
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>




    </div>
    </div>

    <div class="ui footer basic segment">
        <div class="ui container">
            <div class="ui divider"></div>
            <span class="muted" style="color: #BEBEBE">
                &copy; Blablarun all rights reserved
            </span>

            <div class="ui right floated horizontal link list">
                <a class="item">Sitemap</a>
                <a class="item">Contact</a>
                <a class="item">Instagram</a>
                <a class="item">Twitter</a>
            </div>

        </div>
    </div>



    <script>
        $(document).ready(function () {
            $('.ui.sticky').sticky({
                context: '#event-list-segments',
                offset: 80.5
            });
        });
    </script>
</body>

</html>